div {
    width: 200px;
    color: rgb(252, 252, 253);
    background-color: rgb(52, 18, 201);
}
div {
    width: 200px;
    color: rgb(252, 252, 253);
    background-color: rgb(52, 18, 201);
    padding: 20px;
}
div {
    width: 200px;
    color: rgb(252, 252, 253);
    background-color: rgb(52, 18, 201);
    padding: 20px;
    border: 10px solid rgb(70, 155, 224);
}
div {
    width: 200px;
    color: rgb(252, 252, 253);
    background-color: rgb(52, 18, 201);
    padding: 20px;
    border: 10px solid rgb(70, 155, 224);
    margin: 10px;
}
    

